@tailwind base;
@tailwind components;
@tailwind utilities;


/* Quicksand fonts */
@font-face {
    font-family: 'Quicksand';
    font-weight: 400;
    src: url('/assets/fonts/Quicksand-Light.ttf') format('truetype'),
        url('/assets/fonts/Quicksand-Light.woff') format('woff'),
        url('/assets/fonts/Quicksand-Light.woff2') format('woff2');

}

@font-face {
    font-family: 'Quicksand';
    font-weight: 600;
    src: url('/assets/fonts/Quicksand-Regular.ttf') format('truetype'),
        url('/assets/fonts/Quicksand-Regular.woff') format('woff'),
        url('/assets/fonts/Quicksand-Regular.woff2') format('woff2');

}

@font-face {
    font-family: 'Quicksand';
    font-weight: 800;
    src: url('/assets/fonts/Quicksand-Medium.ttf') format('truetype'),
        url('/assets/fonts/Quicksand-Medium.woff') format('woff'),
        url('/assets/fonts/Quicksand-Medium.woff2') format('woff2');

}

@font-face {
    font-family: 'Quicksand';
    font-weight: 900;
    src: url('/assets/fonts/Quicksand-Bold.ttf') format('truetype'),
        url('/assets/fonts/Quicksand-Bold.woff') format('woff'),
        url('/assets/fonts/Quicksand-Bold.woff2') format('woff2');

}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.marquee-container {
    animation: marquee 10s linear infinite;
}

.marquee-item {
    animation: marquee-item 10s linear infinite;
}